.preview {
    width:160px;
    height:160px;
    float:left
}
.primaryFace {
    margin-left: 50px;
    float:left;
}

.primaryFaceContainer {
    overflow: hidden;
    margin: 0 auto;
}

.secondFace, .thirdFace, .forthFace {
    float:left;
    margin: 20px 10px;
}

.primary, .secondary {
    overflow: hidden;
    clear:both;
}