body {
    margin: 0;
    padding: 0
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 120px;
  margin: 0px;
  text-align: center;
  line-height: 160px;
  font-size: 30px;
}